################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Veterinaria10/Veterinaria10/Form1.cs
/Veterinaria10/Veterinaria10/clsConexion.cs
/Veterinaria10/.vs
