################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Veterinaria10/Veterinaria10/Form1.cs
/Veterinaria10/Veterinaria10/clsConexion.cs
/Veterinaria10/.vs
Veterinaria10/.vs/Veterinaria10/FileContentIndex/918d7da2-3ab8-4c51-9910-5e94448caddd.vsidx
Veterinaria10/Veterinaria10/Veterinaria10.csproj
Veterinaria10/Veterinaria10/obj/Veterinaria10.csproj.nuget.g.targets
Veterinaria10/Veterinaria10/obj/Veterinaria10.csproj.nuget.dgspec.json
Veterinaria10/Veterinaria10/obj/project.nuget.cache
Veterinaria10/Veterinaria10/obj/project.assets.json
Veterinaria10/Veterinaria10/obj/Debug/net8.0-windows/Veterinaria10.sourcelink.json
Veterinaria10/Veterinaria10/obj/Debug/net8.0-windows/Veterinaria10.designer.deps.json
Veterinaria10/Veterinaria10/obj/Debug/net8.0-windows/Veterinaria10.csproj.GenerateResource.cache
Veterinaria10/Veterinaria10/obj/Debug/net8.0-windows/Veterinaria10.csproj.FileListAbsolute.txt
Veterinaria10/Veterinaria10/obj/Debug/net8.0-windows/Veterinaria10.csproj.CoreCompileInputs.cache
Veterinaria10/Veterinaria10/obj/Debug/net8.0-windows/Veterinaria10.csproj.AssemblyReference.cache
Veterinaria10/Veterinaria10/obj/Debug/net8.0-windows/Veterinaria10.assets.cache
Veterinaria10/Veterinaria10/obj/Debug/net8.0-windows/Veterinaria10.AssemblyInfoInputs.cache
Veterinaria10/Veterinaria10/obj/Debug/net8.0-windows/Veterinaria10.AssemblyInfo.cs
Veterinaria10/.vs/Veterinaria10/v17/DocumentLayout.json
Veterinaria10/.vs/Veterinaria10/v17/DocumentLayout.backup.json
Veterinaria10/.vs/Veterinaria10/v17/.suo
Veterinaria10/.vs/Veterinaria10/v17/.futdcache.v2
Veterinaria10/.vs/Veterinaria10/FileContentIndex/918d7da2-3ab8-4c51-9910-5e94448caddd.vsidx
Veterinaria10/.vs/Veterinaria10/DesignTimeBuild/.dtbcache.v2
Veterinaria10/.vs/ProjectEvaluation/veterinaria10.strings.v9.bin
Veterinaria10/.vs/ProjectEvaluation/veterinaria10.projects.v9.bin
Veterinaria10/.vs/ProjectEvaluation/veterinaria10.metadata.v9.bin
