################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Veterinaria10/Veterinaria10/Form1.cs
/Veterinaria10/Veterinaria10/clsConexion.cs
Veterinaria10/.vs/ProjectEvaluation/veterinaria10.metadata.v9.bin
Veterinaria10/.vs/ProjectEvaluation/veterinaria10.projects.v9.bin
Veterinaria10/.vs/ProjectEvaluation/veterinaria10.strings.v9.bin
Veterinaria10/.vs/Veterinaria10/FileContentIndex/12c6da34-cf79-4703-8f74-888b9c89695d.vsidx
Veterinaria10/.vs/Veterinaria10/FileContentIndex/89e3de04-5650-42d4-ae65-a6a2940fd194.vsidx
Veterinaria10/.vs/Veterinaria10/FileContentIndex/9215356b-c820-4859-ac45-f61df43aa262.vsidx
Veterinaria10/.vs/Veterinaria10/FileContentIndex/b198eca2-31ac-47ac-8000-a596d2797948.vsidx
Veterinaria10/.vs/Veterinaria10/FileContentIndex/f72c086a-5b00-42b3-9072-e1ac446885eb.vsidx
Veterinaria10/.vs/Veterinaria10/v17/.suo
Veterinaria10/Veterinaria10/Admin.cs
Veterinaria10/Veterinaria10/Admin.Designer.cs
Veterinaria10/Veterinaria10/Empleado.cs
Veterinaria10/Veterinaria10/Empleado.Designer.cs
Veterinaria10/Veterinaria10/Empleado.resx
Veterinaria10/Veterinaria10/obj/Debug/net8.0-windows/Veterinaria10.AssemblyInfo.cs
Veterinaria10/Veterinaria10/obj/Debug/net8.0-windows/Veterinaria10.AssemblyInfoInputs.cache
Veterinaria10/Veterinaria10/obj/Debug/net8.0-windows/Veterinaria10.assets.cache
Veterinaria10/Veterinaria10/obj/Debug/net8.0-windows/Veterinaria10.csproj.AssemblyReference.cache
Veterinaria10/Veterinaria10/obj/Debug/net8.0-windows/Veterinaria10.designer.runtimeconfig.json
Veterinaria10/Veterinaria10/obj/Debug/net8.0-windows/Veterinaria10.GeneratedMSBuildEditorConfig.editorconfig
Veterinaria10/Veterinaria10/obj/project.assets.json
Veterinaria10/Veterinaria10/obj/project.nuget.cache
Veterinaria10/Veterinaria10/obj/Veterinaria10.csproj.nuget.dgspec.json
Veterinaria10/Veterinaria10/obj/Veterinaria10.csproj.nuget.g.props
